<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="{{ asset('assets/uploads/logoeolia170px.png')}}" alt="char à voile Baie de Somme"/></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul
				class="navbar-nav me-auto mb-2 mb-lg-0">

				<!-- <li class="nav-item">
																				                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
																				                </li> -->

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" aria-current="page" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						NOS ACTIVITÉS
					</a>
					<ul
						class="dropdown-menu">
                        <li class="nav-item">
							<a class="dropdown-item" href="{{ path('app_seance') }}">Toutes les séances</a>
						</li>
                         <li class="nav-item">
							<a class="dropdown-item" href="{#{{ path('app_char_a_voile') }}#}">Char à Voile</a>
						</li>
						{# on fait appel à une globals qu'on a créée dans les templates de twig.yaml  #}
						{% for c in categorieRepository.findAll() %}
							<li class="nav-item">
								<a class="dropdown-item" href="#">{{ c.title }}</a>
							</li>

						{% endfor %}
						
						<li><hr class="dropdown-divider"></li>

					</ul>
				</li>


				<li>
					<a class="nav-link" href="#">CARTE CADEAU</a>
				</li>
				<li>
					<a class="nav-link" href="#">OFFRE-PRO</a>
				</li>
				<li>
					<a class="nav-link" href="#">SCOLAIRE</a>
				</li>
				<li>
					<a class="nav-link" href="#">HISTOIRE</a>
				</li>
				<li>
					<a class="nav-link" href="#">CONTACT</a>
				</li>

			</ul>


			{#	<li class="nav-item">
													<a class="nav-link disabled">Disabled</a>
												</li> #}

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="btn btn-success btn-lg" href="#">MON COMPTE</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-primary btn-lg" href="{{ path('app_purchase') }}">COMMANDES</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-warning btn-lg" href="{{ path('app_logout') }}#}">DÉCONNEXION</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-info btn-lg" href="{{ path('cart_index') }} ">🛒
						</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="btn btn-success btn-lg" href=" {{ path('app_registration')  }}">INSCRIPTION</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-primary btn-lg" href="{{ path('app_login') }}">CONNEXION</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>

</nav>
