<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img src= "{{ asset('assets/uploads/logoeolia170px.png')}}" alt ="char à voile Baie de Somme"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
               <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
                </li> 
                <li class="nav-item">
               <a class="nav-link" href="{#{{ path('app_seance') }}#}">NOS ACTIVITÉS</a>
                </li>    -->

            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/">ACCUEIL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">QUEND-PLAGE</a>
            </li>
            <li>
               <a class="nav-link" href="#">ACTIVITÉS</a>
               <ul class="ulactivite">
                    <li><a href="{{ path('app_seance') }}">Les séances de char à voile</a>
                    </li>
                    <li><a href="#">Locations de vélo</a></li>
                    <li><a href="#">Kayak (séance ou location)</a></li>
               </ul>
              <li><a href="#">TARIFS</a></li>
              <li><a href="#">CARTE CADEAU</a></li>
              <li><a href="#">OFFRE-PRO</a></li>
              <li><a href="#">SCOLAIRE</a></li>
              <li><a href="#">HISTOIRE</a></li>
              <li><a href="#">CONTACT</a></li>



          
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                        Dropdown#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                        <li><hr class="dropdown-divider"></li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled">Disabled</a>#}
{#                </li>#}
           </ul> 
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if app.user %}  
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mon compte</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#{#{{ path('app_order') }}#}">Mes commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}" >Me déconneter</a>
                    </li>
               {% else %}
                    <li class="nav-item">
                       <a class="nav-link" href=" {{ path('app_registration')  }}" >M'inscrire</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}" >Me connecter</a>
                    </li>
                {% endif %}
                    <li class="nav-item">
                   <a class="nav-link" href="#">🛒 {#{{ CartHandler.total > 0 ? CartHandler.total ~ ' €' : null }} #} </a> 
                   </li>
            </ul> 
        </div>
    </div>
</nav>