{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <section class="bg-light p-3">
        <h1>Votre panier</h1>
    </section>
   {% if dataCarte | length > 0 %}
<table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       
        {% for element in dataCarte %}  
                <tr>
                     <td>{{ element.seance.categorie.title }} </td>
                    <td >{{ element.seance.price / 100 }}  €</td>
                    <td>  {{ element.quantite  }}   </td>
{#                    <td>  {{ element.quantite * element.seance.price / 100 }} </td>#}
                    <td> {{ element.total }}</td>
                    <td>
                        <a href="{{path("cart_add", {id: element.seance.id})}}" class="btn btn-success">
                             🛒 + 1
                        </a>
                        <a href="{{path("cart_remove", {id: element.seance.id})}}" class="btn btn-warning">
                          🛒 - 1
                        </a>
                        <a href="{{path("cart_delete", {id: element.seance.id})}}" class="btn btn-danger">
                          🛒 Supprimer
                        </a>
                    </td>
                </tr>

           {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total </td>
                <td class="text-start">{{ total }} €</td>
                <td>
                    <a href="{{path("cart_delete_all")}}" class="btn btn-danger">
                           Vider le panier
                    </a>
                   
                </td>
            </tr>
        </tfoot>
    </table>
       <a  class="btn btn-primary" href="{{path("app_seance")}}">
           Compléter votre panier
       </a>
    <hr>
     <h2>Confirmez votre commande en remplissant ce formulaire</h2>
     {{ form_start(confirmationForm) }}

     {{ form_widget(confirmationForm) }}

     <button type="submit" class="btn btn-success">Valider</button>

     {{ form_end(confirmationForm) }}

     <a  class="btn btn-primary" href="{{path("app_seance")}}">
        Retour aux activités
     </a>
   {% else %}
       <tr>
           <td colspan="5" class="text-center">Votre panier est vide</td>
       </tr>
  {% endif %}
    
{% endblock %}
