{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
{#{{ dump(app.session)  }}  #}
{#{{ dump(app.session.getBag('flashes').get('success'))  }}  #}
{#{{ dump(app.flashes)  }} #}
  
     <main class="container">
    <section class="bg-light p-3">
        <h1>Votre panier</h1>
    </section>
 {% if items | length > 0 %}
<table class="table">
        <thead>
            <tr>
                <th>Séance</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Action</th>
{#                <th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
       
        {% for item in items %}  
                <tr>
                     <td>
                         {{ item.seance.categorie.title }}
                     </td>
                    <td >
                        {{ item.seance.price  }}  €
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>


                    <td>
                        {{ item.quantity * item.seance.price  }}
                    </td>
                    <td>
                        <a href="{{path("cart_add", {'id': item.seance.id})}}" class="btn btn-success">
                            🛒 + 1
                        </a>
                        <a href=" {{path("cart_decrement", {'id': item.seance.id})}}" class="btn btn-warning">
                          🛒 - 1
                        </a>
                        <a href="{{path("cart_delete", {'id': item.seance.id})}}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>

           {% endfor %} 
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">Total </td>
                <td class="text-start">{{ total }} €</td>
                <td>
                    <a href="{{path("cart_delete_all")}}" class="btn btn-danger">
                           Vider le panier
                    </a>
                   
                </td>
            </tr>
        </tfoot>
    </table>
       <a  class="btn btn-primary" href="{{path("seance_list")}}">
           Compléter votre paniers
       </a>
    <hr>

       {% if app.user %}
     <h2>Confirmez votre commande en remplissant ce formulaire</h2>
     {{ form_start(confirmationForm, {'action': path('app_purchase_confirm')}) }}



     {{ form_widget(confirmationForm) }}

     <button type="submit" class="btn btn-success">Valider</button>

     {{ form_end(confirmationForm) }}


       {% else %}
           <div class="d-flex align-items-center">
               <h2>Vous devez être connecté pour confirmer cette commande</h2>
                <a href="{{ path('app_login') }}" class="btn btn-success">Connexion</a>
           </div>
           <div class="d-flex align-items-center">
           <h2>Vous devez vous inscrire si vous n'avez pas encore de compte</h2>
                <a href="{{ path('app_registration') }}" class="btn btn-secondary">Inscription</a>
           </div>
       {% endif %}
   {% else %}


            <h2>Aucune séance dans votre panier</h2>


           <a  class="btn btn-primary" href="{{path("seance_list")}}">
               Retour aux séances
           </a>
       </main>
  {% endif %}
    
{% endblock %}
