{% extends 'base.html.twig' %}

{% block title %} describ_categorie {% endblock %}

{% block body %}
<main class="container">
 


 <section class="activite">
   <div class="card">
       
           {% for seance in seances %}
              <h1>  {{ seance.categorie.title }}</h1>
              <ol class="breadcrumb">
		         	<li class="breadcrumb-item">
		         		<a href="{{ path('app_home') }}">Accueil</a>
		         	</li>
               
		         	<li class="breadcrumb-item active">
		          		<a href="{{ path('seance_show', {'categorie_slug': seance.categorie.slug, 'slug': seance.slug}) }}">
			       		 {{ seance.name}} 
		         		</a>
		            	</li>
                     	<li class="breadcrumb-item active">
		         		Description complète + infos {{  seance.categorie.title}}</li>
	            	</li>
               </ol>
            <div class ="card">
         

         <div class="card-body">
           <div class="show-detail">
             <img class="imgsite" src="{{ seance.picture }}"  alt="char à voile">
               <p class = "p-show-detail">{{ seance.shortDescription }}</p>
              
           </div>
           <div class="show-detail">
               <h3 class ="span-show">{{ seance.categorie.title }}</h3>
               <h2>{{ seance.name }} ({{ seance.price / 100 }} &euro;)</h2>
               
           </div>
        </div>
      </div>
           
      {% endfor %} 
   </div>           
  </section>
</main>  
{% endblock %}