{% extends 'base.html.twig' %}

{% block title %} describ_categorie {% endblock %}

{% block body %}
<main class="container">
 


   <section class="row">
        <div class="col-12">
       
           {% for seance in seances %}
              <h1>  {{ seance.categorie.title }}</h1>
              <ol class="breadcrumb">
		         	<li class="breadcrumb-item">
		         		<a href="{{ path('app_home') }}">Accueil</a>
		         	</li>
               
		         	<li class="breadcrumb-item active">
		          		<a href="{{ path('seance_show', {'categorie_slug': seance.categorie.slug, 'slug': seance.slug}) }}">
			       		 {{ seance.name}} 
		         		</a>
		            	</li>
                     	<li class="breadcrumb-item active">
		         		Description complète + infos {{  seance.categorie.title}}</li>
	            	</li>
               </ol>
            <div class ="card">
           <img class="imgsite" src="{{ seance.picture }}"  alt="char à voile">

    <div class="card-body">
        <h4 class="card-title">{{ seance.name }} ({{ seance.price / 100 }} &euro;)</h4>

        <span class="badge text-bg-secondary">{{ seance.categorie.title }}</span>

               <p class="card-text">{{ seance.shortDescription }}</p>
           {#    <p>Date de la séance:
				{{ seance.datedelaseance|date("d/m/Y") }}</p>
               <a href="{{ path('seance_show', {'categorie_slug': seance.categorie.slug, 'slug': seance.slug}) }}" class="btn btn-primary btn-lg">Détails</a>
              <a href="{{ path('cart_add', {'id': seance.id}) }}" class="btn btn-success btn-lg">Ajouter au panier</a> #}
    </div>
    </div>
           
          {% endfor %} 
       </div>           
   </section>
</main>  
{% endblock %}