{% extends 'base.html.twig' %}

{% block title %}   {{ categorie.title }} {% endblock %}

{% block body %}

<main class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
        <li class="breadcrumb-item active">{{ categorie.title }}</li>
        	<li class="breadcrumb-item active"><a href="{{ path('seance_show', {'categorie_slug': seance.categorie.slug, 'slug': seance.slug}) }}">
					{{ seance.name }}
				</a>
				</li>
		</li>
    </ol>
  <h1> Catégorie:  {{ categorie.title }}</h1>
  

  
    <div class="activite">
     <div class="activiteaccueil">
        {% include "seance/_seance_categorie_card.html.twig" with {'s': seance} %}
     </div>
   </div>
  
</main>
{% endblock %}