{% extends 'base.html.twig' %}

{% block title %}Éolia!{% endblock %}

{% block body %}
<!--<script src="js/slick.min.js"></script> -->

        <!--config jquery du plugin slick-->
        <!-- Indiquer sur quel élément de la page on applique le plugin -->
      <!-- <script type="text/javascript">
            $(document).ready(function() {
                $('.slider').slick({
                    // setting - name: setting - value
                });
            }); 
        </script> -->
  <main class="container">

      <h1>Nos activités </h1>
      <div class="row">
          {% for s in seances  %}
          <div class="col">
              <div class ="card">
                  <img src="{{ s.picture }}"alt="char à voile">
                  <div class="card-body">
                      <h4 class="card-title">{{ s.name }} ({{ s.price / 100 }} &euro;)</h4>

                      <span class="badge text-bg-secondary">{{ s.categorie.title }}</span>

                      <p class="card-text">{{ s.shortDescription }}</p>
                      <a href="{{ path('seance_show', {'categorie_slug': s.categorie.slug, 'slug': s.slug}) }}" class="btn btn-primary btn-sm">Détails</a>
                      <a href="#" class="btn btn-success btn-sm">Ajouter</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>




      <div class="slider">
                <div><img src="{{ asset('assets/uploads/char-accueiltitregros1500.jpg')}}" alt="char à voile"></div>
                <div><img src="{{ asset('assets/uploads/charpaysage.jpg')}}" alt="char enfant"></div>
                <div><img src="{{ asset('assets/uploads/chardepart-1500.jpg')}}" alt="char-depart"></div>
   </div>  

           <div class="img-accueil-desktop">
              <img src="{{ asset('assets/uploads/char-accueiltitregros1500.jpg')}}" alt="char à voile">
           </div>

    <div class="titremobil">
           
              <img src= "{{ asset('assets/uploads/char-accueil.jpg')}}" alt ="char à voile Baie de Somme"/>
              <h1 class="titreh1"> Char à Voile Baie de Somme</h1>
              <h2> Fort Mahon et Quend-Plage</h2>
           
            </div> 

             <div class="intro">
                <div class="paragraphe">
                    <p>Éolia vous propose la pratique du char à voile en baie de Somme à Fort Mahon et à Quend-plage. Sport typique en Picardie, le char à voile, sorte de « kart aéro propulsé », extrêmement maniable, léger et confortable est un loisir accessible à tous. Enfants, familles, séniors, personnes à mobilité réduite, groupes scolaires.</p>
                    <p>Au cours de votre première séance d’initiation de char à voile à Fort Mahon, après environ 1 heure d’apprentissage, selon les conditions météos, une randonnée ou balade en char à voile commence sous la conduite d’un moniteur Breveté d’État. Les coquillages craquent sous vos roues, le vent fait légèrement chasser les roues arrières dans une fine gerbe de sable…</p>
                    <p>Devant vous l’espace infini de la Baie de Somme en Picardie, EOLIA vous convie à des « Escapades Aér’O Plage », sorties inoubliables aux accents d’Air d’Eau et de Sable.</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d162960.58094757705!2d1.578692!3d50.343073!3m2!1i1024!2i768!4f13.1!2m1!1sEolia%20Fort%20mMahon%20et%20Quend%20Plage!5e0!3m2!1sfr!2sus!4v1639571521156!5m2!1sfr!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>   
    </div>

    <div class="p-version-tablette">
                    <p>Devant vous l’espace infini de la Baie de Somme en Picardie, EOLIA vous convie à des « Escapades Aér’O Plage », sorties inoubliables aux accents d’Air d’Eau et de Sable.</p>
     </div>


 </main>
{% endblock %}
 