<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Éolia
			{% endblock %}
		</title>
		
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<link
		rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> -->
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'>
		{# feuille de style #}
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">{# fichiers js #}
		{# defer permet le chargement js en dernier #}<script src="{{ asset('assets/js/bootstrap.bundle.js') }}" defer> </script>

		  	



 
   



	</head>

	<body>

		{% include "_partials/_nav.html.twig" %}
		  
		
			{% for rubrique, messages in app.flashes  %}
			<main class="container">
				<div class="alert alert-{{ rubrique }}">
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
     
          </main>

			{% endfor %}
		
		
	<main class="container">  
		
		{% block body %}    {% endblock %}
</main> 
		  <div id="footer">
            {% block footer %}
 <div class="reseaux">
                <a href="https://www.facebook.com/charavoilepicardie" target="_blank" class="fab fa-facebook-square"></a>
                <a href="https://www.youtube.com/watch?v=suYScmKY7os" target="_blank" class="fab fa-youtube-square"></a>
                <a href="https://www.instagram.com/eoliapicardie/?hl=fr" target="_blank" class="fab fa-instagram-square"></a>
            </div>
            <nav>
                <ul class="légales">
                    <li><a href="politique-confidentialite.php">POLITIQUE DE CONFIDENTIALITÉ</a></li>
                    <li><a href="mentions-legales.php">MENTIONS LÉGALES</a></li>
                    <li><a href="cgv.php">CGV</a></li>
                </ul>
            </nav>            {% endblock %}
        </div>
	
		{% block javascripts %}{% endblock %}

	</body>

	<!--<script src="{{ asset('assets/js/slider.js') }}" defer> </script> -->
</html>
